.post-image{
    width: 400px;
}

.small{
    width: 600px;
}

.future-gyor-img{
    width: 800px;
    transition: all 1s ease;
    border-radius: 40px;
}

.future-gyor-img:hover{
    transform: scale(1.01);
}

.cím{
    padding: 100px 0px;
    font-size:100px;
}

.future-gyor-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: top;
}

.future-gyor-item{
    margin: 20px;
    padding: 30px;
    background-color: var(--c3);
    border-radius: 20px;
    transition: all 1s ease;
}

.future-gyor-item:hover{
    transform: scale(1.01);
}

.future-gyor-text, .future-gyor-title{
    color: var(--c4);
    padding: 10px;
    text-align: left;
    font-size: clamp(0.5rem, 2.5vw, 4rem);
    transition: all 1s ease;
}

.future-gyor-title{
    font-weight: bold;
    font-size: clamp(1rem, 5vw, 7rem);
}

@media screen and (max-width: 1100px){
    .future-gyor-img{
        width: 450px;
        border-radius: 20px;
    }
    .post-image{
        width: 150px;
    }
    .future-gyor-cont{
        align-items: center;
        flex-direction: column;
    }
    .future-gyor-title{
        font-size: 50px;
    }
    .future-gyor-text{
        font-size: 40px;
    }
  }
  @media screen and (max-width: 700px){
    .future-gyor-img{
        width: 300px;
        padding: 0;
    }
    .post{
        flex-direction: column;
    }
    .future-gyor-cont{
        flex-direction: column;
    }
    .future-gyor-title{
        font-size: 40px;
    }
    .future-gyor-text{
        font-size: 30px;
    }
  }
  @media screen and (max-width: 400px){
    .future-gyor-img{
        width: 300px;
    }
    .future-gyor-item{
        padding: 10px;
    }
    .future-gyor-title{
        font-size: 30px;
    }
    .future-gyor-text{
        font-size: 20px;
    }
  }
  