*{color:white;}
html{overflow-x: hidden;}
body{
    background-color:var(--c0);
    margin:0px;
	padding: 0px;
	overflow-x: hidden;
}

:root{
	--c0:#659DBD;
	--c1:#8D8741;
	--c2:#DAAD86;
	--c3:#BC986A;
	--c4:#FBEEC1;
}


a:any-link {
  color: black;
  background-color: transparent;
  text-decoration: none;
  }

::-webkit-scrollbar{
	width: 20px;
	}

::-webkit-scrollbar-thumb{
	background: -webkit-gradient(linear, left top, left bottom, from(var(--c4)),to(var(--c3)));
	box-shadow: inset 2px 2px 2px rgba (255,255,255,0.25), inset -2px -2px -2px rgba(0,0,0,0.25);
	}

::-webkit-scrollbar-track{
	background: linear-gradient(to right, #343A40, #343A40 1px, #171a1c 1px, #171a1c);
	}